.backdrop.backdrop--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    padding: 94px 15px;
  
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    overflow-y: scroll;

    pointer-events: none;
    transition: opacity 250ms $timingFunction;
  }
  
  .modal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 40px;
    max-width: 450px;
    max-height: 610px;
   

    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    @media screen and (min-width: 1200px){
      position: absolute;
      
  
      min-height: 581px;
      min-width: 528px;
    }
  }
  
  .btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
  
    width: 30px;
    height: 30px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: $primaryColorWhite;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    pointer-events: visible;
    transition: fill 250ms $timingFunction;

      &:hover {
        fill: $accentColor;
      }
  }
  
  .modal__legend {
    display: block;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  
    margin-bottom: 12px;
  }
  
  /* form-modal */
  
  .form-modal {
    pointer-events: visible;
  }
  
  .form-modal__label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
  }
  
  .form-modal__field {
    position: relative;
  
    display: flex;
    flex-direction: column;

      &:not(:first-child){
        margin-top: 10px;
      } 
  }
  
  .form-modal__thumb {
    position: relative;
    width: 100%;
  }
  
  .field {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    color: #000000;
    padding-left: 42px;
    transition: border-color 250ms $timingFunction;

      &:focus-within {
        outline: none;
        border-color: $accentColor;
      }
  }
  
  .field__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms $timingFunction;

      .field:focus-within + & {
        fill: $accentColor;
      }
}
  
  .textarea {
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition: border-color 250ms $timingFunction;

        &:focus-within {
          outline: none;
          border-color: $accentColor;
        }
}
  
  /* contract */
  .modal__contract {
    @include centeredFlex();
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .contract-text {
    display: inline-block;
  }
  
  .label-checkbox__input {
    position: absolute;
  
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
  
  .label-checkbox {
    display: inline-flex;
    align-items: center;
  }
  
  .label-checkbox__check {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border-radius: 2px;
    border: 1px solid #212121;
    cursor: pointer;

      .label-checkbox__input:checked + &{
        background-image: url(../images/chekbox-ok.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-origin: border-box;
        border-radius: 2px;
        border: 1px solid $accentColor;
      }
  }
  
  .label-checkbox__link {
    text-decoration-line: underline;
    line-height: 1.71;
    color: $accentColor;
  }
  
