.company {
    padding: 60px 0;
    
    @media screen and (min-width: 1200px){
      padding: 94px 0;
    }
  }
  
  .list-company {
    @media screen and (max-width: 767px) {
      margin: -15px;
      display: flex;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin: -15px;
      display: flex;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px){
      @include centeredFlex(flex, space-between);
    }
  }
  

  .list-company__item{
    @media screen and (max-width: 767px) {
      margin: 15px;
      width: calc((100% - 60px) / 2);
    }
   
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin: 15px;
      width: calc((100% - 90px) / 3);
    }
   
    @media screen and (min-width: 1200px) {
      width: 170px;
    }
  }

  .list-company__link {
    @include centeredFlex();

    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    height: 92px;
    transition: border-color 250ms $timingFunction;

      &:hover,
      &:focus {
      border-color: $accentColor;
      outline: $accentColor;
    }
  }
  
  .list-company__icon {
    fill: #afb1b8;
    transition: fill 250ms $timingFunction;

      .list-company__link:hover &,
      .list-company__link:focus &{
        fill: $accentColor;
      }
  }
  
  
  
 
  