.section-advantages {
    padding: 60px 0;

    @media screen and (min-width: 1200px) {
      padding: 94px 0;;
      }
  }
  
  .list-advantages {
    @media screen and (min-width: 1200px) {
    @include centeredFlex();
    }

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }
  
  .list-advantages__item {

    @media screen and (max-width: 767px) {
        max-width: 100%;
        &:not(:first-child) {
          margin-top: 30px;
        }
      }
      
      @media screen and (min-width: 768px) {
        margin: 15px;
        max-width: calc((100% - 60px)/2);
      }

      @media screen and (min-width: 1200px) {
        max-width: 270px;
   }
  }
  
  .list-advantages__box {
    @include centeredFlex();
  
    margin-bottom: 30px;
    height: 120px;
    border-radius: 4px;
    background-color: #f5f4fa;
  }
  
  .list-advantages__subtitle {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $primaryTextColor;


    text-align: center;

    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }
  
  .list-advantages__text {
    padding-top: 10px;
  
    line-height: 1.71;
    letter-spacing: 0.03em;
  }